/* Write your CSS here */
.container {
  min-height: 100vh;
  width: 100vw;
  padding: 30px;
}
.upper-section {
  display: flex;
}
.form-container {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.name-input {
  width: 14vw;
  margin-bottom: 0.5em;
  height: 5vh;
  padding: 5px;
  border: 1px solid #cbd2d9;
  border-radius: 5px;
  outline: none;
}
.comment-textarea {
  width: 14vw;
  margin-bottom: 0.5em;
  height: 15vh;
  padding: 5px;
  border: 1px solid #cbd2d9;
  border-radius: 5px;
  outline: none;
}
.add-comment-button {
  width: 8vw;
  height: 6vh;
  background-color: #0284c7;
  border: 0px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
hr {
  border: 1px solid #cbd2d9;
  border-radius: 10px;
}
.comment-heading-box {
  display: flex;
  width: 15vw;
  height: 3vh;
  justify-content: space-around;
}
.comment-para {
  margin-top: 0px;
}
.noOf-comments {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  height: 3vh;
  width: 2vw;
  background-color: #0284c7;
  color: white;
  font-weight: 700;
}
